body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Material Icon Styling */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.menu {
    padding: 12px;
    height: 24px;
    width: 24px;
}
.search {
    padding: 12px;
    height: 24px;
    width: 24px;
    float: left;
    left: 50px;
    justify-self: left;
    left-margin: 40px;
}
.arrow_drop_down {
    padding: 12px;
    height: 24px;
    width: 24px;
    float: right;
    justify-self: left;
}
.contact_support {
    padding: 12px;
    height: 24px;
    width: 24px;
}
.apps {
    padding-left: 40px;
    padding-right: 40px;
    height: 24px;
    width: 24px;
}


/* Top Nav Bar */
#topNav {
    border-bottom: 1px solid #eceff1;
    border-width: 90%;
    height: 9vh;
    width: 100%;
    
    /* Flexbox Styling */
    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}
#leftTopNav {
    float: left;

    /* Flexbox Styling */
    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#centerTopNav {

}
#rightTopNav {
    float: right;

    /* Flexbox Styling */
    display: flex;
    flex-direction: rtl;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

#searchBar {
    background-color: #f1f3f4;
    border-radius: .5em;
    height: 3em;
    width: 55vw;
    margin-left: 9em;
    margin-right: 5em;
    
    /* Flexbox Styling */
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

/* Gmail Logo */
#gmailLogo {
    height: 40px;
    padding-left: 16px;
    padding-right: 10%;
}

#profilePhoto {
    height: 40px;
    width: 40px;
    border-radius: 50% 50% 50% 50%;
    border-width: 10px 10px 10px 10px;
    border-top-color: #e92c18;
    border-right-color: #3174f1;
    border-bottom-color: #239a41;
    border-left-color: #f6ad01;
}

/* Container Div */
#mainNav {
    height: 91vh;
    width: 100%;

    /* Flexbox Styling */
    display: flex;
    flex-direction: ltr;
    flex-wrap: nowrap;
    justify-content: center;

}

/* Left Sidebar */
#sidebarLeft {
    border-right: 1px solid #eceff1;

    /* Flexbox Styling */
    display: flex;
    flex-direction: ltr;
    justify-content: center;
    flex-basis: 5%;
    float: left;
}

/* Center Area */
#centerArea {


    /* Flexbox Styling */
    display: flex;
    flex-direction: column;
    justify-content: center;  
    flex-basis: 95%;  
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
}

.emailBox {
    width: 95%;
    height: 2em;
    border-top: 1px solid #eceff1;
    border-bottom: 1px solid #eceff1;
    padding: 0;
    margin-left: 1em;
    border-collapse: collapse;
}

/* Table Styling */

.checkBox {
    width: 4%;
    height: 100%;
    padding: 5px;
}

.star {
    width: 3%;
    height: 100%;
    padding: 5px;
}

.priorityBox {
    width: 3%;
    height: 100%;
    padding: 5px;
}

.nameBox {
    width: 15%;
    height: 100%;
    padding: 5px;
}

.emailContent {
    width: 55%;
    height: 100%;
    padding: 5px;
}

.attachmentBox {
    width: 5%;
    height: 100%;
    padding: 5px;
}

.dateBox {
    width: 10%;
    height: 100%;
    padding: 5px;
}

/* Center Toolbox Styling */
#toolBar {
    width: 95%;
    height: 2em;
    padding: 2px;
    margin: 0;
}

.toolcheckBox {

}

.toolRewind {

}

.toolMenu {

}

.toolEmpty {

}

.toolEmailNumber {

}

.toolArrows {

}

.toolKeyboard {

}

.toolSettings {
    
}

/* Right Sidebar */
#sidebarRight {
    border-left: 1px solid #eceff1;

    /* Flexbox Styling */
    display: flex;
    flex-direction: ltr;
    justify-content: center;
    flex-basis: 5%;
    float: right;  

}